
header h1{
    font-size: 2em;
    text-align: center;
    color: #f2f2f2;
}
.top {
        overflow: hidden;
        font-size: 50px;
        margin-bottom: 20px;    
        text-align: center;
        height: auto;
        border-bottom: solid 3px black;
    }
    input[type="button"] {
        height: 40px;
        width: 80%;
        margin: 6px;
        background-color: #488DC3;
        /* Green */
        border: none;
        color: white;
        padding: 1px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: .4em;
    }
    input[type=text] {
        font-size: .4em;
        width: 80%;
        height: 40px;
        padding-left: 1%;
        margin: 5px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
.bottom .editInput{
    font-size: .7em;
}
    input[type=text]:focus {
        background-color: lightblue;
    }
    .bottom {
        height: auto;
        height: auto;
        overflow: auto;
        width: 100%;
    }
    .container {
        color: black;
        text-align: center;
        font-size: 2em;
        overflow: hidden;
        padding: 1%;
        margin-top: 3% ;
        margin-left: 4%;
        display: inline-block;
        background-color: #FFFFFF;
        width: 90%;
        height: 270px;
        border-radius: 10px;
        box-shadow: 1px 1px 1px black;
    }
    .container button{
        padding: 1%;
        width: 50%;
        margin-left: 25%;
        margin-bottom: 1%;
        background-color: #488DC3;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 0.6em;
        display: block;
        border: none;
        
    }
    
    
    .container:last-child {
        margin-bottom: 190px;
    }
    .footer {
        text-align: center;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
        background-color: #3E474F;
        height: 170px;
    }
    a {
        width: auto;
        display: inline-block;
    }



/*media query for desktop: 1024px*/

@media screen and (min-width: 1024px) {
    .top {
        overflow: hidden;
        font-size: 1em;
        margin-top: 1%;
        margin-bottom: 15px;
        height: auto;
        border-bottom: solid 2px #47484B;
    }
    
    input[type="button"] {
        width: 20%;
        margin-left: 40%;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
        display: block;
        border-radius: 4%;
    }
    input[type="button"]:hover{
        background-color: #0D264C;
        transition: .4s;
        opacity: .8s;
    }
    input[type=text] {
     
    font-size: 1.2em;
    border-radius: 0;
    display:inline-block;
    margin-left: 2%;
    height: 50px;
    width: 30%;
    }
    input[type=text]:focus {
        background-color: lightblue;
    }
    .bottom .editInput{
    font-size: 1em;
}
    .bottom {
        height: auto;
        overflow: hidden;
        width: 100%;
    }
    .container {
        float: left;
        text-align: center;
        font-size: 1.2em;
        overflow: hidden;
        padding: 1%;
        margin: 10px auto;
        margin-left: 40px;
        display: inline-block;
        background-color: #FFFFFF;
        width: 20%;
        height: auto;
        border-radius: 0;
        box-shadow: 1px 10px 5px #313947;
    }
    .container button{
        width: 50%;
        margin-left: 25%;
        margin-bottom: 2%;
        background-color: #488DC3;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 0.8em;
        display: block;
        border: none;
        
    }
    .container button:hover{
        transition: .4s;
        background-color: #0D264C;
    }

    .footer {
        box-shadow: 1px 1px 1px black;
        text-align: center;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        background-color: #2EB79C;
        height: 75px;
    }
  
}
