@import url('https://fonts.googleapis.com/css?family=Lato');
@media (min-width: 600px) {
    .footer {
        text-align: center;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
        background-color: #3E474F;
        height: 170px;
    }
    a {
        width: auto;
        display: inline-block;
    }
    footer .item a{
        display: none;
    }
    img {
        margin-top: 25px;
        width: 35%;
    }
    .editInput {
        height: 60px !important;
    }
    .footer {
        box-shadow: 1px 1px 1px black;
        text-align: center;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        background-color: #2EB79C;
        height: 75px;
    }
    footer .item a {
        float: left;
        text-decoration: none;
        color: white;
        width: auto;
        display: inline-block;
        padding: 1.2% 2%;
        font-size: 20px;
    }
    a:hover{
        opacity: .5;
        transition: .3s;
    }
    .item{
        width: 100%;
    }
    img {
        display: none;
    }
}