    body{
    font-family: open sans;
    background-image: url('../img/cheap_diagonal_fabric.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
} 
        a {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-decoration: none;
            color: inherit;
        }
        
        nav {
             background-color:  #0D264C;
            
            border-radius: 5px;
        }
        
        nav ul {
            list-style: none;
            padding: 0;
        }
        
        nav li a { 
            background-color: #0D264C;
            text-align: center;
            text-decoration: none;
            color: #fff;
            display: block;
            padding: 2%;
            margin-top: 5px;
            font-size: 1.1em;
        }
        
        nav #logo {
            margin: 0 auto;
            color: #a4a8ad;
            display: none;
        }
        
        nav li a:hover {
            background-color: #555;
        }
        
        #menu {
       display: none;
  
        }
        
        .show-menu {
            border-radius: 3px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-decoration: none;
            color: #fff;
            background-color: #0D264C;
            text-align: center;
            padding: 10px 0;
            display: block;
            min-height: 25px;
        }
        /*Hide checkbox*/
        
        input[type=checkbox] {
            display: none;
        }
        /*Show menu when invisible checkbox is checked*/
        
        input[type=checkbox]:checked~#menu {
            display: block;
        }
   
        
        @media screen and (min-width: 1024px) {
            #menu{
                display: flex;
            }
            nav {
                background-color: #0D264C;
                display: flex;
                box-shadow: 1px 1px 1px black;
                
            }
            nav #logo {
                margin: auto;
                margin-left: 50px;
                font-size: 2.5em;
                width: 70%;
                display: block;
                color: white;
            }
            nav ul {
                margin-right: 30px;
                flex: 1 1 0;
                display: flex;
                justify-content: flex-end;
            }
            nav li {
                flex: 1 1 0;
                padding-right: 20%;
            }
            nav li a{
                background-color: inherit;
            }
            nav li a:hover {
                transition: .4s;
                background-color: #2EB79C;
                color: #555;
            }
            nav #logo:hover{
                transition: .5s;
                color: #555;
            }
            .show-menu {
                display: none;
            }
        }