/*====START  OF MODAL===*/


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-bottom: 50%;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #0D264C;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #0D264C;
    color: white;
}


/*====END OF MODAL===*/


/*====START OF FORM===*/

#requestForm {
        margin-top: 1%;
    margin-bottom: 5%;
}

.modal select {
    margin: 1% auto;
    height: 40px;
    width: 0;
    font-size: 1em;
    display: block;
    overflow: hidden;
    padding: 5px 8px;
    width: 70%;
    border: 1px solid black;
    background-image: none;
}

.modal input[type=text] {
    display: block;
    font-size: 1em;
    overflow: hidden;
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
}

.modal input[type="date"]:before {
    margin-right: .5em;
    content: attr(placeholder) !important;
}

.modal input[type=date] {
    font-family: openSans;
    text-align: center;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1em;
    padding: 12px 20px;
    margin: 5% auto;
    height: 40px;
    width: 70%;
}
#itemDet input[type=button]{
    background-color: #337AB7;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: .9em;
    border-radius: 7px;
    margin: 1% auto;
}

.modal #requestForm span {
    color: #B6B6B6;
    display: block;
    width: 80%;
    margin-left:auto;
    margin-bottom: 1%;
}

#add {
    margin:3% auto;
    width: 50%;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
}
#addInput {
    width: 50%;
    margin:3% auto;
    background-color: #337AB7;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 16px;
    margin-top: 3%;
    border-radius: 5px;
}
.deleteItem {
    width: 90%;
    margin-left: 4%;
    background-color: #D9534F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 3%;
    border-radius: 5px;
}
.wrapper_container {
    padding-bottom: 4%;
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;
}
#requestForm #items h3 {
    text-align: center;
    position: relative;
    
}
button[name=remove_buttonAt0]{
    margin-bottom: 3%;

}
/*====END OF FORM===*/

header {
    padding: 2%;
}

h1 {
    ;
    color: #f2f2f2;
    text-align: center;
}

h2 {
    font-size: 1em;
    padding: 1%;
    color: white;
    text-align: center;
}

h3 {
    position: absolute;
    top: -15;
    text-align: center;
    font-size: 1em;
    padding: 1%;
    background-color: #FAFAFA;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 80%;
    border: 1px dotted black;
    background-color: #FAFAFA;
}

.wrapper-header {
    margin-top: -17px;
    height: 35px;
    background-color: #0f2443;
}

.details {
    font-size: .6em;
    padding: 4%;
}

.borrowerInformation {
    position: relative;
    padding: 5%;
    border: 1px solid black;
    width: 80%;
    margin: 1% auto;
}

#duedate {
    font-size: .9em;
}

.right {
    margin-right: 0;
    float: right;
}

.itemsBorrowed {
    position: relative;
    padding: 5%;
    border: 1px solid black;
    width: 80%;
    margin: 4% auto;
}


input[type=text] {
    font-size: 1.6em;
    display: block;
    margin: 0 auto;
}

.inputDesc {
    text-align: center;
    display: block;
    margin: 2% auto;
}

#return_button {
    margin: auto;
    margin-left: 5%;
    width: 40%;
    background-color: #D9534F;
    border: none;
    color: black;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    height: 30px;
    color: white;
}

#add_items {
    color: white;
    height: 30px;
    margin: auto;
    width: 50%;
    background-color: #4CAF50;
    border: none;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
}
#itemDet .defectiveInput{
    margin: 1% auto;
    margin-bottom: 2%;
}
.restoreDefButton{
    color: white;
    margin: auto;
    width: 50%;
    background-color: #4CAF50;
    border: none;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.3em;
}
#restoreAll_Button{
    width: 90%;
    margin:1% auto;
    background-color: #D9534F;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.2em;
    border-radius: 5px; 
}
#itemDet .defectLabel{
    display:inline-block;
    margin-top: 5%;
}
#itemDet .returnContainer{
    font-size: 1em;
    padding: 2%;
    margin: auto;
    margin-top: 3%;
    width: 100%;
    align-content: center;

}
.innerContainer{
    
    padding: 3%;
    border: 1px dotted black;
}
@media screen and (min-width: 568px) {
    #itemDet div {
        width: 80%;
        margin: 0 auto;
    }
    h4 {
        width: 25%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    h2 {
        font-size: 1.3em;
        padding: 2%;
    }
    .wrapper-header {
        height: 45px;
    }
    h3 {
        top: -45;
        font-size: 1.6em;
    }
    .details {
        font-size: .9em;
        padding: 4%;
    }
    #return_button {
    width: 40%;
    padding: 1%;
    font-size: 1.5em;
    height: 40px;
    color: white;
}
    #itemDet input[type=button]{
    width: 50%;
    font-size: 1.2em;
}

#add_items {
    height: 40px;
    width: 50%;
    padding: 1%;
    display: inline-block;
    font-size: 1.5em;
}
}

@media screen and (min-width: 1024px) {
    .modal-content{
        width: 50%;
    }
    .wrapper-header {
        margin-top: -30px;
        height: 60px;
    }
    .borrowerInformation span {
        font-size: 1.3em;
    }
    #duedate {
        font-size: 1.2em;
    }
    #itemDet div {
        font-size: 1.1em;
    }
    .modal input[type=date] {
    margin: 2% auto;
    height: 40px;
    width: 70%;
}
    #add {
    margin-top:-20px;
    width: 30%;
}
    #addInput {
        width: 30%;
    margin:1% auto;
}
        #itemDet input[type=button]{
    width: 35%;
        
}
    
}

@media screen and (min-width: 1400px) {
    .wrapper-header {
        margin-top: -35px;
        height: 70px;
    }
}

@media screen and (min-width: 1920px) {
    .wrapper {
        width: 50%;
    }
    .content .borrowerInformation span {
        line-height: 1.7;
        margin: 0 auto;
    }
    .wrapper-header {
        margin-top: -40px;
        height: 70px;
    }
}