* {
	margin: auto;
}

nav {
	background-color: black;
	height: 100%;
	position: fixed;
	width: 12%;
	float: left;
}

#logo{
	padding: 6%;
	margin-left: 9%;
	width: auto;
	height: 50%;
	text-align: center;
}

#Items{

}